<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="'page-content"> 
    <h1>What should you eat????</h1>

    <!-- Dropdown Menu -->
      <label for="cuisine">Pick your Cuisine:</label>
      <select id="cuisine" name="cuisine" required>
          <option value="Chinese">Chinese</option>
          <option value="American">American</option>
          <option value="Thai">Thai</option>
          <option value="Italian">Italian</option>
          <option value="Japanese">Japanese</option>
          <option value="Spanish">Spanish</option>
          <option value="MiddleEastern">MiddleEastern</option>

      </select><br><br> 

    </div>

</body>